<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ResGres API Tesing" parallel="classes">
    <test name="API Testing">
        <classes>
            <class name="org.example.ResGresTest">
                <methods>
                    <include name="testCreatingNewEmployee"/>
                    <include name="testUpdateExistingEmployee"/>
                    <include name="testDeleteEmployee"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>